.searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBar {
    margin: 15px;
}

.listGroupItem {
    margin: 10px 0;
    border-radius: 20px !important;
}

.listGroup {
    width: 100%;
    margin: 15px
}

.serviceProvidersList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.serviceProviderList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 400px;
}

.serviceProviderDetails {
    width: 65%;
}

.requestServiceButton {
    width: 30%;
}

.outer {
    display: flex;
    justify-content: center;
}

.vehicleServicingContainer {
    border-radius: 20px;
    width: 50%;
    padding-bottom: 40px;
    margin: 50px;
}

.press {
    color: #2c2a2f !important;
    display: block;
    width: 150px;
    height: 52px;
    font-size: 14px;
    background: #f3ebf2 !important;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 40px;
    float: right;
}

.press1 {
    color: #2c2a2f !important;
    display: block;
    width: 150px;
    height: 40px;
    font-size: 14px;
    background: #f3ebf2 !important;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 40px;
    float: right;
}

.ala {
    padding: 15px;
    border-radius: 20px;
}

.modal-content {
    border-radius: 20px;
}

.modal-title {
    margin-left: 10px;
}