body{
    
}

.errorbody{

    background: #fff;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center !important;

}
.container {
    background-color: #fff;
    
    
   
    text-align: center;
    padding-top: 50px;
}

h3 {
    font-size: 16px;
    color: #3498db;
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    text-align: center;
}



a:hover {
    color: #ff0;
}

span {
    font-size: 14px;
    color: #FFF;
    font-weight: normal;
    text-align: center;
}

span a {
    color: #FF0;
    text-decoration: none;
}

span a:hover {
    color: #F00;
}

@media screen and (max-width: 500px) {
    img {
        width: 100%;
    }
    .container {
        padding: 70px 10px 10px 10px;
        margin: 500px 200px;
    }
    h3 {
        font-size: 14px;
    }
}