.navbar {
    background-color: white;
}

.name:hover {
    cursor: pointer;
}

.name {
    font-weight: 600;
    font-size: 20px;
}

.navHeading {
    color: #2c2a2f;
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-color: #f3ebf2;
}

.signout {
    font-size: 15px;
    background-color: #f3ebf2;
    min-width: 100px;
    text-align: center;
    border-radius: 20px;
}